<!DOCTYPE html>
<html>
  <head>
    <meta content="text.html" charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Hi, <%= @user.username %>, the authentication process for <%= @product %> has been completed, and it will take up to 7 days for the delivery of the product. </p>

    <p>To check your order status, please follow the following link: <%= @url %></p>
  </body>
</html>
