<!DOCTYPE html>
<html>
  <head>
    <meta content="text.html" charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Hi, <%= @user.username %>, your purchase order for <%= @product %> has been processed, and it will take up to 7 days for the authentication & delivery of the product. </p>

    
  </body>
</html>
