<!DOCTYPE html>
<html>
  <head>
    <meta content="text.html" charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Hi, <%= @user.username %>, your sale of <%= @product %> has been confirmed, and you should expect to receive the funds in your account within 7 days.</p>

    
  </body>
</html>
