<!DOCTYPE html>
<html>
  <head>
    <meta content="text.html" charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Hi, <%= @user.username %>, your sale of <%= @product %> has been processed, and you will need to send it to us for the authentication process within the next 3 days. </p>

    <p>The funds will be released to you upon successful authentication of your product.</p>


  </body>
</html>
