<h1>Purchase Confirmed</h1>

<div>
  <h3>Your purchase of the product</h3>
  <%= Product.find(@current_purchase).name %>
  <h3>at the price of:</h3>
  <%= Product.find(@current_purchase).price %>
  <h3>has been confirmed. It will be sent for appriasal and we will inform you shortly</h3>



  <%= link_to "Back to Store", products_path,class:'btn btn-info'%>
  <%= link_to "Purchase History", purchases_path, class: 'btn btn-info'%>
</div>
