<div class="offset-md-1 col-md-10 mt-5">

  <h1><strong>How selling works</strong></h1>
  <div class="row mt-4 mb-4">
    <div class="col-md-3">
      <h3><strong>Step 1</strong></h3>
      <div class="guides">
        <p>Registration is free! Once registered, you can list and buy items from our store.</p>
      </div>
    </div>
    <div class="col-md-3">
      <h3><strong>Step 2</strong></h3>
      <div class="guides">
        <p>You can list items by going to our store and clicking on the 'New Product'. Then, fill in the form and provide a photo for your product and your product's ready to be listed!</p>
      </div>
    </div>
    <div class="col-md-3">
      <h3><strong>Step 3</strong></h3>
      <div class="guides">
        <p>Once a buyer is interested in your product, an email will be sent to the email account you provided to request that you send your product over to our address for appraisal. Remember to send your product within 3 days upon receipt of the email, as we do not want to keep the buyer waiting!</p>
      </div>
    </div>

    <div class="col-md-3">
      <h3><strong>Step 4</strong></h3>
      <div class="guides">
        <p>Once your product has been confirmed by our appraisers as genuine, your cut of the proceeds of the sale will be transferred to your E-credit account.</p>
      </div>
    </div>
  </div>

  <h1><strong>How buying works</strong></h1>
  <div class="row mt-4 mb-4">
    <div class="col-md-3">
      <h3><strong>Step 1</strong></h3>
      <div class="guides">
        <p>Registration is free! Once registered, you can list and buy items from our store.</p>
      </div>
    </div>

    <div class="col-md-3">
      <h3><strong>Step 2</strong></h3>
      <div class="guides">
        <p>Transfer some money into your E-credit account via your 'Profile' page. Upon seeing a product you fancy, click on the 'View' button to get further details and then on 'Purchase' when you have decided to buy.</p>
      </div>
    </div>

    <div class="col-md-3">
      <h3><strong>Step 3</strong></h3>
      <div class="guides">
        <p>Upon your purchase, the product will be sent for appraisal to verify if it is genuine. This will take around 7 days.</p>
      </div>
    </div>

    <div class="col-md-3">
      <h3><strong>Step 4</strong></h3>
      <div class="guides">
        <p>Once your product has been confirmed by our appraisers as genuine, an email notification will be sent to you and the product will be sent over to your address.</p>
      </div>
    </div>
  </div>
</div>
