<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'jewelry-background.jpg', class: 'd-block w-100', alt: 'first'%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'jewelry-background.jpg', class: 'd-block w-100', alt: 'second' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'jewelry-background.jpg', class: 'd-block w-100', alt: 'third'%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="offset-md-2 col-md-7 mt-4 mb-5 mx-auto flavor-text">
  <h2><strong>Why Cash My Bling?</strong></h2>
  <div class="row mx-auto">
    <div class="col-md-5 pt-3 pb-3">
      <div class="guides">
        The prices we offer are far better than those offered by those offered by retailers. Thus, you are getting a better deal regardless of you trying to buy or sell your bling!
      </div>
    </div>
    <div class="offset-sm-2 col-md-5 pt-3 pb-3">
      <div class="guides">
        Our appraisal system ensures that the products you buy from our site are genuine.
      </div>
    </div>
  </div>
</div>


<div class="offset-md-2 col-md-7 mt-5 mb-5 flavor-text mx-auto">
  <h3><strong>User Testimonials</strong></h3>
  <div class="row">
    <div class="col-md-5 pt-3 pb-3">
      <div class="guides">
        <p>The prices here are far better than wholesale prices, and I managed to sell an engagement ring at a far better rate than the rate the pawnshop offered me.</p> <span> - Edmund T</span>
      </div>
    </div>
    <div class="offset-sm-2 col-md-5 pt-3 pb-3">
      <div class="guides">
        <p>My user experience was nothing short of amazing. The product that I bought was very nice and the service was excellent!</p> <span> - CT Chong </span>
      </div>
    </div>
  </div>
</div>
