<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam qui quaerat ullam, maxime voluptatem id esse saepe assumenda, fuga eaque vero accusantium, labore aliquam amet voluptates laudantium unde corporis impedit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, omnis enim explicabo incidunt recusandae velit ex fugiat repellat minima eligendi cumque distinctio magni perferendis itaque? Voluptas eaque, debitis eligendi similique.</p>
