<% provide(:title, 'Cart')%>

<% @all_cart_item.each do |item| %>

   <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <% product = Product.find(item.product_id) %>
            
            <span class="card-title" style="color: black;"><%= product.name %></span>
          </div>
           <input type="hidden" value="<%=product.id%>" class='setId'>
          <div class="card-action">
            <%= button_to 'Remove from Cart', cart_path(item.id), :form => { :class => "removeCartBtn" }, remote: true, method: :delete, class: "removefromcart" %>
          </div>
        </div>
   </div>

   <% end %>
